#
# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

on post-fs-data
    mkdir /data/misc/qdma 0770 system system
    mkdir /dev/socket/qdma_app 0777 system system
    chmod 2777 /dev/socket/qdma_app
    mkdir /data/misc/qdma/conf 0770 system system

on property:vendor.qti.qdma.oper.mode=1
    write /data/misc/qdma/conf/qdma.conf "OperationMode:1"
    chown system system /data/misc/qdma/conf/qdma.conf

on property:vendor.qti.qdma.oper.mode=2
    write /data/misc/qdma/conf/qdma.conf "OperationMode:2"
    chown system system /data/misc/qdma/conf/qdma.conf

on property:vendor.qti.qdma.oper.mode=3
    write /data/misc/qdma/conf/qdma.conf "OperationMode:3"
    chown system system /data/misc/qdma/conf/qdma.conf

service qccsyshalservice /system/system_ext/bin/qccsyshalservice
    class hal
    user system
    group system inet
