######################################################################
#
# This file configures the Bluetooth module initialization parameters
#
######################################################################

# command data port name (eg: /dev/ttyHS2)
device = /dev/ttyHS2

# command data port initial operating speed in bps (eg: 115200)
speed = 115200

# command data port normal operating speed in bps (eg: 3000000)
high_speed = 3500000

# if false, the firmware download will be done at 115kbps (false is default)
# if true,  the firmware download will be done at high speed (typically >3Mbps)
high_speed_download = true

# Bluetooth device address  override for testing (if defined, this is used instead of the factory setting)
#bdaddr = 11:12:13:14:15:16

# PCM interface configuration (is master if true, and slave if false; master by default)
PCM_master = true

# patchram downloader
downloader = /system/bin/bt_downloader --patchram /system/etc/BCM4329B1_002.002.023.0757.0780.hcd /dev/ttyHS2

# attach command
hci_attach = /system/bin/hciattach -s 3500000 /dev/ttyHS2 any 3500000 flow

# config command
hci_config = /system/xbin/hciconfig hci0 up

######################################################################
#end

