# comment; this is for hci reset and device init
device = /dev/ttyHS0
speed = 115200
high_speed = 3000000

## bdaddr override for testing (if defined, this is used instead of the factory setting)
#bdaddr = 11:12:13:14:15:16

# for patchram download
#downloader = /system/bin/bt_downloader --baudrate 3000000 --patchram /system/etc/BCM4325D1_004.002.004.0195.0206f.hcd /dev/ttyHS0
downloader = /system/bin/bt_downloader --baudrate 3000000 --patchram /system/etc/BCM4325D1_004.002.004.0218.0225.hcd /dev/ttyHS0

# attach command
hci_attach = /system/bin/hciattach -s 3000000 /dev/ttyMSM0 any 3000000 flow

# config command
hci_config = /system/xbin/hciconfig hci0 up

#end

