on init
	setprop sys.motorola.infactory 0
    mkdir /data/misc/wifi 0777 wifi wifi
    mkdir /data/misc/wifi/sockets 0777 wifi wifi
    mkdir /data/system 0771 system system
    mkdir /data/system/wpa_supplicant 0771 wifi wifi
    mkdir /data/media system 0775 system
    chmod 0777 /data/misc/wifi
    exec rmdir /data/misc/wifi/sockets
    exec rm /data/misc/dhcp/dhcpcd-eth0.lease
    exec rm /data/misc/dhcp/dhcpcd-eth0.pid
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    #    chown bluetooth bluetooth /sys/module/board_morrison/parameters/bluetooth_power_on
    #    chmod 0660 /sys/module/board_morrison/parameters/bluetooth_power_on
    exec chown bluetooth bluetooth /proc/bt_power
    chmod 0666 /proc/bt_power
    mkdir /data/radio 0770 radio radio
    mkdir /data/radio 0777 system system
    chmod 0777 /dev/oncrpc
    chmod 0777 /dev/oncrpc/00000000:0
    chmod 0777 /dev/oncrpc/30000000:959ac044
    chmod 0777 /dev/oncrpc/30000002:00020000
    chmod 0777 /dev/oncrpc/30000003:a7eed910
    chmod 0777 /dev/oncrpc/3000000a:00010000
    chmod 0777 /dev/oncrpc/3000000e:d0b61921
    chmod 0777 /dev/oncrpc/3000000f:1c5a0000
    chmod 0777 /dev/oncrpc/30000013:00020000
    chmod 0777 /dev/oncrpc/30000014:00010000
    chmod 0777 /dev/oncrpc/30000016:8ca03b11
    chmod 0777 /dev/oncrpc/30000019:821a1945
    chmod 0777 /dev/oncrpc/3000001a:00010000
    chmod 0777 /dev/oncrpc/3000001b:d6b8aee8
    chmod 0777 /dev/oncrpc/3000001d:ba845703
    chmod 0777 /dev/oncrpc/3000003c:d0fd1992
    chmod 0777 /dev/oncrpc/30000048:00020000
    chmod 0777 /dev/oncrpc/3000005b:e63bc050
    chmod 0777 /dev/oncrpc/3000005f:d9769667
    chmod 0777 /dev/oncrpc/30000061:00010000
    chmod 0777 /dev/oncrpc/30000064:00010000
    chmod 0777 /dev/oncrpc/3000006b:00010000
    chmod 0777 /dev/oncrpc/30000081:00010000
    chmod 0777 /dev/oncrpc/3000008c:00010000
    chmod 0777 /dev/oncrpc/30000101:00010000
    chmod 0777 /dev/oncrpc/30000200:00000000
    chmod 0777 /dev/oncrpc/30000802:00010000
    chmod 0777 /dev/oncrpc/30001120:00010000

# Vibrator
    chown system system /sys/class/vibrator/vibrator/enable

# Broadcom stuff
    chown bluetooth bluetooth /sys/module/board_morrison/parameters/bluetooth_power_on
    chmod 0660 /sys/module/board_morrison/parameters/bluetooth_power_on

# Bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto

# 12m
    mkdir /data/local/12m 0771 system system
    mkdir /data/local/12m/batch 0771 system system
    mkdir /data/local/12m/batch/log 0771 system system
 
#  E-compass  
    chown system system /dev/akm8973_aot
    chown system system /dev/akm8973_dev

# Accelerometer
    chown system system /sys/class/i2c-adapter/i2c-0/0-0018/mode
    chmod 0664 /sys/class/i2c-adapter/i2c-0/0-0018/mode
    chown system system /dev/accelerometer
    chmod 0664 /dev/accelerometer
    chown system system /dev/lis331dlh
    chmod 0664 /dev/lis331dlh

# hw accel
    symlink /dev/msm_hw3dc /dev/hw3dc
    symlink /dev/msm_hw3dm /dev/hw3dm
    chown system graphics /dev/hw3dc
    chown system graphics /dev/hw3dm
    chmod 666 /dev/msm_hw3dc
    chmod 660 /dev/msm_hw3dm

# proximity
    chown system system /dev/proximity
    chmod 0664 /dev/proximity

# Permissions changes needed for TCMD
    chown system system /dev/blan_enable
    chmod 0660 /dev/blan_enable
    chown system system /dev/misc_helper
    chmod 0660 /dev/misc_helper
    chown system graphics /dev/graphics/fb0
# Google Skymap wants to copybit fb0 but requests no special privileges
    chmod 0666 /dev/graphics/fb0
    chmod 0644 /dev/block/mmcblk0p1

# Permissions needed for port_bridge
    chown root system /dev/ttyHSUSB0
    chmod 0660 /dev/ttyHSUSB0

# Clearing FM/BT reference count temp file  contents
    write /data/bluedroid_ref 123456
    chmod 0777 /data/bluedroid_ref

# Set WiFi interface name
    #setprop wifi.interface /data/misc/wifi/sockets/eth0
    setprop wifi.interface eth0
    #setprop wifi.dhcpinterface eth0

# Set up touchpad
    chown system system /dev/touchpad
    chmod 0664 /dev/touchpad

# Set RIL
    setprop rild.libpath /system/lib/libril-qc-1.so
    setprop rild.libargs "-d /dev/smd0"
    

# Modemlog
service modemlog /system/bin/modemlog
    class TOOL
    user system
    oneshot

# MMClog
service mmclog /system/bin/mmclog
    class TOOL
    oneshot

# Touchpad driver
service touchpad /system/bin/touchpad -a /data/touchpad.log
    class HW
    user system
    oneshot

# FMRadio Service
# service fmradio /system/bin/fmradioserver
#     class BT

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL -d eth0
    class WLAN
    #user system  #- this makes socket() calls fail with permission denied
    group dhcp
    disabled
    oneshot

service autoip /system/bin/dhcpcd -B -d eth0
    class WLAN
    #user system  #- this makes socket() calls fail with permission denied
    group dhcp
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -D wext -i eth0 -c /data/misc/wifi/wpa_supplicant.conf
    class WLAN
    socket wpa_eth0 dgram 0660 wifi wifi 
    disabled
    oneshot
    
# E-compass  daemon
service akmd2 /system/bin/akmd2 -f /system/etc/akm/akmd_set.cfg
	user system
	group input
    class HW
    oneshot

## TCMD
service tcmd /system/bin/tcmd_engine usb0
#    user system - this makes reboot failing
#    group system inet
    class TCMD

service port_bridge /system/bin/port_bridge /dev/smd0 /dev/ttyHSUSB0
	user radio
	group system
    class TCMD


service btenable /system/xbin/busybox sh /system/bin/btenable.sh
    oneshot

service hciattach /system/bin/hciattach -s 3000000 /dev/ttyMSM0 any 3000000 flow
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service fuel_gauge /system/bin/fuel_gauge --all
    class TCMD
    oneshot    
    
service qmuxd /system/bin/qmuxd
    class HW

on property:sys.motorola.suspended=1
    class_stop zygote_services

on property:sys.motorola.suspended=0
    class_start zygote_services

#on property:sys.motorola.infactory=1
#    class_start ADB
#    class_start TCMD
#    class_start TOOL
#    class_start ANDROID
#    class_start MEDIA
#    class_start BT
#    class_start WLAN
#    class_start HW
    
on property:sys.motorola.infactory=2
    class_start ADB
    class_start TCMD
    class_start TOOL
    class_start RIL
    class_start pre-zygote_services
    class_start zygote_services
    class_start post-zygote_services
    class_start ANDROID
    class_start MEDIA
    class_start BT
    class_start WLAN
    class_start HW
    

on property:sys.motorola.infactory=0
    class_start ADB
    class_start TOOL
    class_start RIL
    class_start pre-zygote_services
    class_start zygote_services
    class_start post-zygote_services
    class_start ANDROID
    class_start MEDIA
    class_start BT
    class_start WLAN
    class_start HW
    class_start TCMD

on property:persist.factorytest=1
    stop zygote

on property:persist.factorytest=2
    stop zygote

on property:persist.factorytest=0
    start zygote

